body{
	cursor: pointer;
}
div{
	margin: 5em auto;
	text-align: center;
}
button{
	background-color: white;
	border:3px solid black;
	height: 20px;
	width: 150px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	text-align: center;

}
.big-blue {
    width: 200px;
    height: 200px;
    background-color: #00f;
  }

.after{
	transition: all 1s;
	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.clicked:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.ripple {
    position: relative;
    background-color: #4CAF50;
    color: #FFFFFF; 
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.ripple:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.ripple:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.drop{
	padding: 20px;
}
.drop{
	padding: 50px;
	display: none;
}
.twentytwo{
	position: relative;
	height: 100px;
}
.slide{
	position: absolute;
}
.fourteen{
	position: relative;
	height: 100px;
}
.grow{
	position: absolute;
}
.twelve{
	position: relative;
	height: 100px;
}
.around{
	position: absolute;
}
.thirteen{
	position: relative;
	height: 100px;
}
.font{
	position: absolute;
}
.square{
	background-color: red;
	height: 100px;width:100px;
	border-radius: 0%;
	transition: border-radius 0.8s ease;
}

.circle {
  border-radius: 50% !important;
}
.small-blue {
    width: 5px;
    height: 25px;
    background-color: #00f;
  }
.turn{
    margin:30px;
    perspective: 500;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    -o-perspective: 500;
    width:200px;
    height:200px;
    background-color:#59A3FF;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    position:absolute;
    cursor:pointer;
    /* Animate the transitions */
    -webkit-transition:0.8s; text-align:center;
    -moz-transition:0.8s; text-align:center;
    -ms-transition:0.8s; text-align:center;
    -o-transition:0.8s; text-align:center;
    transition:0.8s; text-align:center;

}

.card{
  transform:rotateY(180deg) scale(1.2,1.2);
  -webkit-transform:rotateY(180deg) scale(1.2,1.2);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  background-color:#FF5959;

}
.rotate-180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.bounce {
    width: 100px;
    height: 100px;
    background: #ccc;
}
.twentysix{
	height: 200px;
}
.twentyseven{
	height: 100px;
}
.slidechange{
	transition: all 3s;
	position: absolute;
	}
.slash {
	transition-timing-function: ease-in-out;
	transition: 0.3s;
	}
.slashed {
		width: 40%;
		transform:scale(2,2);
		transform:rotate(-110deg);
	}
.slant{
	transition: 1s;
}
.slanted{
	transform: translate(-50px, -50px);
}
.turnbig{
	transition: width 2s, height 2s, transform 2s;
}
.turned{
	animation-name:box;
	width: 200px;
	height: 200px;
	transform: rotate(180deg);
}
.change{
	transition: 1s;
	position: relative;
}
.changed{
	transform: rotate(360deg);
	background-color: red;
}
.smallspin{
	transition: width 2s, height 2s, transform 2s;
}
.small{
	animation-name:box;
	width: 5px;
	height: 10px;
	transform: rotate(360deg);
}
.growborder{
	transition-timing-function: ease-in-out;
	transition: 1.5s;
}
.grew{
	border-radius: 100px;
	border:10px double black;
	transform: scale(2,2);
}
.opacity{
	transition-timing-function: ease-in-out;
	transition: 1s;
	background-color: blue;
}
.disappear{
	opacity: 0;
}
.shift{
	transition-timing-function: linear;
	transition: 1s;
}
.shifted{
	transform: skewX(45deg);
}
.grownshift{
	transition-timing-function: linear;
	transition: 2s;
}
.grown{
	border: 5px solid black;
	transform: skewX(-20deg);
	width: 400px;
	height: 300px;
}
.skew{
	transition-timing-function: ease-in;
	transition: 1s;
}
.skewed{
	transform: skewY(100deg);
}
.spun{
	transition: all 1s;
	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.word{
	letter-spacing: 20px;
}
.tight{
	letter-spacing: -3px;
}
.fortysix{
	width: 25%;
	height: 25%;
}
.fill{
	transition: width 10s, height 1s;
	transition-timing-function: ease-in-out;
}
.filled{
	height: 100%;
	width: 100%;
}
.strike{
	text-decoration: line-through;
}
.additalic{
	font-style: italic;
}
.bolder{
	font-weight: bold;
}
.uppercase{
	text-transform: uppercase; 
}
.noborder{
	border: 5px solid black;
	transition: all 1s;
	transition-timing-function: ease-in-out;
}
.borderless{
	border: 1px solid black;
}
.dog{
	width: auto;
	height: 100px;
}
.blur{
	text-shadow: 2px 2px 5px black;
}
.blurr{
	text-shadow: 5px 5px 5px black;
}
.disperse{
	animation-name: box;
	animation-duration: 1s;
	text-shadow: 300px 300px 500px black;
	transition: all 1s ease-in-out;
}
.dark{
	box-shadow: 5px 5px 5px #888888;
	transition: all 1s ease-in-out;
}
.switch{
	border: 5px solid coral;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    50% {border-color: lightblue;}
}

/* Standard syntax */
@keyframes mymove {
    50% {border-color: lightblue;}
}
.colors{
	background-color: coral;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymover 5s infinite;
}
@-webkit-keyframes mymover {
    50% {background-color: lightblue;}
}

/* Standard syntax */
@keyframes mymover {
    50% {background-color: lightblue;}
}
.radius{
	transition: 1s all;
	background-color: green;
	border:none;
	border-radius: 0;
}
.curved{
	border-radius: 5px;
}
.height{
	line-height: 100px;
}
.type{
	font-family: sans-serif;
}
.face{
	font-family: serif;
}
.text{
	text-decoration-line: underline;
}
.down{
	transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}
.leading{
	line-height: 1px;
}
.flipped{
	transform: rotate(180deg);
}
.title {
	text-align: center;
	font-size: 36px;
}
.grid-box {
	border: blue 1px solid;
	height: 100px;
}
.row div, .row{
	margin: 0;
}
.letter {
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
}
#one{
	width: auto;
	display: inline-block;
}
#two{
	width: auto;
	display: inline-block;
}
#three{
	width: auto;
	display: inline-block;
}
#four{
	width: auto;
	display: inline-block;
}
#five{
	width: auto;
	display: inline-block;
}
#six{
	width: auto;
	display: inline-block;
}
#seven{
	width: auto;
	display: inline-block;
}
#eight{
	width: auto;
	display: inline-block;
}
#nine{
	width: auto;
	display: inline-block;
}
.dash{
	transition: all 1s;
}
.dashed{
	border-style: dashed;
	transform: scale(3,3);
	border-radius: 100%;
}
.sick{
	transition-timing-function: ease-in-out;
	transition: 1.5s;
}
.sicker{
	border-collapse: collapse;
	transform: scale(-2,0.2);
}
.flippity{
	transition-timing-function: ease-in-out;
	transition: all 1s;
}
.doo{
	transform: skew(130deg, 150deg);
}
.rect{
	height: 50px;
	width: 50px;
	transition: all 1s;
	background-color: blue;
}
.effect{
	transform: rotate(360deg) scale(3,3);
}
.blink{
	color: coral;
    -webkit-animation: mymoves 5s infinite; /* Chrome, Safari, Opera */
    animation: mymoves 5s infinite;
}
@-webkit-keyframes mymoves {
    50% {color: lightblue;}
}

/* Standard syntax */
@keyframes mymoves {
    50% {color: lightblue;}
}
.there{
	transition: all 1s;
	opacity: 0;
}
.across{
	transition: 1s;
}
.cross{
	transform: translate(-50px, -50px);
}
.groww{
	font-size: 300px;
}
.twist{
	transition:all 1s;
}
.shout{
	font-size: 300px;
	transform:rotate(360deg);

}
.dot{
	transition: 1s ease;
}
.ease{
	border-style: dotted;
	transform: scale(2,2);
	border-color: coral;
    -webkit-animation: mymovez 5s infinite; /* Chrome, Safari, Opera */
    animation: mymovez 5s infinite;
}
@-webkit-keyframes mymovez {
    50% {border-color: lightblue;}
}

/* Standard syntax */
@keyframes mymovez {
    50% {border-color: lightblue;}
}
.camo{
	background-color: black;
	color: white;
	transition:all 1s;
}
.black{
	color: black;
}
.cray{
  	transition: all 1s;
  }
.heat{

	transform: perspective(500px) translate3d(80px,0px,0px);
}
	@keyframes odd {
	  from {position: relative; left: 0px; top: 0px;}
	  to {position: relative; left:500px; top: 100px;}
	}
.help{
	animation-name: odd;
	animation-duration: 3s;
	position: relative;
	right: 500px;
	top: 100px;
	box-shadow: 10px 10px 5px #888888;
}
.side{
	transition: width 3s, height 5s;
}
.ways{
	animation-name: box;
	width: 800px;
	height: 250px;
}
.twirl{
	transition-timing-function: ease-in-out;
	transition: 1s;
}
.hit{
	transform: skewY(180deg);
}
.slight{
	transition-timing-function: ease-out;
	transition: 2s;
}
.curl{
	transform: rotate(90deg);
}
.hope{
	transition-timing-function: ease-in-out;
}
.try{
	transform: scale(2,2);
}
.please{
	transition: all 1s;
	background-color: blue;
	opacity: 0.3;
	color: white
}
.light{
	opacity: 1;
}
.tilt{
    height: 150px;
    width: 150px;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
    transition: all 1s;
}
.pers{
	padding: 50px;
    border: 1px solid black;
    background-color: red;
    -webkit-transform: rotateX(45deg); /* Chrome, Safari, Opera  */
    transform: rotateX(45deg);
}
.cute{
	position: absolute;
    width: 50%;
    height: 300px;
    line-height: 300px;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    left: 150%;
    top: 100px;
    margin-left: -25%;
}
.hundo{
	position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.finito{
	left: 50%;
}
.eightyfour{
	height: 100px;
	position: relative;
}