#p1{
	background-image: url('https://cdn.pixabay.com/photo/2012/12/19/18/22/lake-macquarie-71208_960_720.jpg');
}
#p2{
	background-image: url('http://www.planwallpaper.com/static/images/best-scenery-wallpaper-21.jpg');
}
#p3{
	background-image: url('http://www.planwallpaper.com/static/images/t8jKyS0.jpg');
}
#p4{
	background-image: url('https://cdn.pixabay.com/photo/2016/05/01/17/24/lake-scenery-1365288_960_720.jpg');
}