html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 10000px;
	margin: 0;
	padding: 0;
}
.background{
	background: url("https://media.tenor.com/images/2f99bfc0ac6d02db55e307d676168af2/tenor.gif");
	width: 100%;
	height: 100%;
}
.spaceship{
	width: 800px;
	height: auto;
	position: fixed;
	top: 100px;
	left: 250px;
	z-index: 1;
}
.mercury{
	position: fixed;
	top: 50px;
	left: 100px;
	z-index: 0;
}
.venus{
	position: fixed;
	top: 350px;
	right: 300px;
	z-index: 0;
}
.mars{
	position: fixed;
	top: 100px;
	right: 50px;
	z-index: 0;
}
.shine{
	position: fixed;
	width: 50px;
	height: auto;
	top: 50px;
	left: 800px;
}