body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: 100%;
}
img{
	width: 10%;
	height: auto;
	display: inline-block;
	margin: .25%;
}
.second, .third{
	display: none;
}
@media(min-width: 600px) and (max-width: 800px){
	.second{
		display: inline-block;
		width: 10%;
		height: auto;
		margin: .25%;
	}
	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen{
		display: none;
	}

}
@media(min-width: 300px) and (max-width: 600px){
	.third{
		display: inline-block;
		width: 10%;
		height: auto;
		margin: .25%;
	}
	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen, .second{
		display: none;
	}

}